asgiref==3.8.1
certifi==2025.10.5
charset-normalizer==3.4.4
Django==5.2.3
django-jalali-date==2.0.0
django-render-partial==0.4
idna==3.11
jalali_core==1.0.0
jdatetime==5.2.0
pillow==11.3.0
python-dotenv==1.1.1
requests==2.32.5
setuptools==80.9.0
sorl-thumbnail==12.11.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
