{% extends 'base.html' %}

{% block title %}product list{% endblock %}

{% block content %}
    <ul>
        {% for product in products %}
            <li>
{#                <a href="{% url 'product-detail' slug=product.slug %}" style="color: black; text-decoration: none;">{{ product.title }} / price : {{ product.price }}</a>#}
                <a href="{{ product.get_absolute_url }}" style="color: black; text-decoration: none;">{{ product.title }} / price : {{ product.price }}/ category : {{ product.category.url_title }}</a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <p>
        number of products: {{ total_number_of_products }}
    </p>
{#    <p>#}
{#        average rating of product ratings: {{ average_ratings.rating__avg }}#}
{#    </p>#}
{% endblock %}