.errorlist {
    padding-right: 0 !important;
}

.errorlist li {
    color: red;
}

ul {
    padding-right: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.one-line-text {
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}